---
import { type Post, post__slug__new } from '@btakita/domain--all--blog'
import { sorted__posts__new } from '@btakita/domain--server--blog'
import { Card } from '@btakita/ui--all--blog'
import { Hr, LinkButton, Main, Socials, V_socials } from '@btakita/ui--server--blog'
import { Atb_uop, Atb_uop_engineering, Atb_uop_engineering_physics } from '@btakita/ui--server--briantakita'
import { getCollection } from 'astro:content'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Van from '../components/Van.astro'
import { SOCIALS } from '../config'
import Layout from '../layouts/Layout.astro'
import { server__ctx__new } from '../lib'
const ctx = server__ctx__new(Astro)
const posts = sorted__posts__new(await getCollection('posts') as Post[])
const featured__posts = posts.filter(({ data })=>data.featured)
const social__count = SOCIALS.filter(social=>social.active).length
---

<!doctype html>
<Layout>
	<Header ctx={ctx}/>
	<Main ctx={ctx}>
		<section id="hero">
			<h1 class="mr-2">Brian Takita</h1>
			<a
				target="_blank"
				href="/rss.xml"
				class="rss-link"
				aria-label="rss feed"
				title="RSS Feed"
			>
				<svg xmlns="http://www.w3.org/2000/svg" class="rss-icon">
					<path
						d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
					></path>
					<path
						d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
					></path>
					<circle cx="6" cy="18" r="2"></circle>
				</svg>
			</a>
			<p>
				Full stack developer with over 20 years experience. Emphasizes efficient product development, consistent domain
				language, flat architectures, & code reuse. Graduated with a
				<Atb_uop_engineering innerText="Bachelor of Science"/>
				in
				<Atb_uop_engineering_physics innerText="Engineering Physics"/>
				from
				<Atb_uop/>.
			</p>
			{
				// only display if at least one social link is enabled
				social__count > 0 && (
					<div class="social-wrapper">
						<div class="social-links">Social Links:</div>
						<Van dom={V_socials({ ctx })}/>
					</div>
				)
			}
		</section>
		<Hr/>
		{
			featured__posts.length > 0 && (
				<>
				<section id="featured">
					<h2>Featured</h2>
					<ul>
						{featured__posts.map(post=>(
							<Card
								href={`/posts/${post__slug__new(post)}`}
								post={post}
								secHeading={false}
							/>
						))}
					</ul>
				</section>
				<Hr/>
				</>
			)
		}
		<section id="recent-posts">
			<h2>Recent Posts</h2>
			<ul>
				{
					posts
						.filter(({ data })=>!data.featured)
						.map((post, index)=>
							index < 4 && (
								<Card
									href={`/posts/${post__slug__new(post)}`}
									post={post}
									secHeading={false}
								/>))
				}
			</ul>
			<div class="all-posts-btn-wrapper">
				<LinkButton href="/posts">
					All Posts
					<svg xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
						></path>
					</svg>
				</LinkButton>
			</div>
		</section>
	</Main>
	<Footer ctx={ctx}/>
</Layout>

<style>
	/* ===== Hero Section ===== */
	#hero {
		@apply pb-6 pt-8;
	}
	#hero h1 {
		@apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
	}
	#hero .rss-link {
		@apply mb-6;
	}
	#hero .rss-icon {
		@apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
	}
	#hero p {
		@apply my-2;
	}
	.social-wrapper {
		@apply mt-4 flex flex-col sm:flex-row sm:items-center;
	}
	.social-links {
		@apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
	}
	/* ===== Featured & Recent Posts Sections ===== */
	#featured,
	#recent-posts {
		@apply pb-6 pt-12;
	}
	#featured h2,
	#recent-posts h2 {
		@apply text-2xl font-semibold tracking-wide;
	}
	.all-posts-btn-wrapper {
		@apply my-8 text-center;
	}
</style>
